/*@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');*/


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../images/hero3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid goldenrod;

}

.logo{
     padding: 10px 20px;
     font-size: 40px;
     color: darkgreen;
     font-weight: bold;
}
    
span{
    color: goldenrod;
    font-weight: bold;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 4%;
    padding-right: 10%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgba(6, 94, 6, 0.91);
    font-weight: bold;
}


 
nav ul li a:hover  {
    color: goldenrod;
    transition: .3s;
}



.button1 {
    border: none;
    border-radius: 25px;
    background: darkgreen;
    color: white;
    padding: 12px 30px;
    font-size: 12px;
    font-weight: bold;
    transition: .4s;
}

.button1:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.content {
    font-weight: bold;
    font-size: 28px;
    color: #fffbfb;
}

/* Here start the story section */

.bkg-cl {
    background: darkkhaki;
    width: 100%;
    padding: 100px 0px;
}

.b-video{
    background-color: black;
    height: 500px;
    width: 400px;
    border-radius: 35px;
    margin-bottom: 40px;
}

.bkg-cl video {
    height: 500px;
    width: 400px;
}

.cont-st {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.boxx {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%; 
    background-color: whitesmoke;
    border-radius: 30px;
    margin-bottom: 40px;
}

.box-one {
    display: flex;
    align-items: center;
    justify-content: center;   
}

.cont-pp {
    text-align: center;
    justify-content: center;
    width: 70%;
    padding: .5rem;
}

.cont-pp h2 {
    color: goldenrod;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
}

.cont-pp p{
    color: darkolivegreen;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.bkg-cl2 {
    background: black;
    width: 100%;
    height: 100vh;
}


/* here start the about us section */

.service {
    background-color: darkolivegreen;
    width: 100%;
    padding:100px 0px;
}

.title h3 {
     color: goldenrod;
     font-size: 32px;
     width: 100%;
     margin: 30px auto;
     text-align: center;
}

.box-au {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card-cd {
    width: 300px;
    height: 355px;
    background: whitesmoke;
    position: relative;
    margin: 15px;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
}

.card-cd i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: goldenrod;
}

h5 { 
    color: darkolivegreen;
    margin-bottom: 15px;
    font-size: 22px;
}

.pp p{
    color: rgb(80, 78, 78);
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: bold;
}

/* comtact section start here */

.contact {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact p {
    color: darkolivegreen;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact .buttom-2 {
    border: 2px solid transparent;
    border-radius: 25px;
    background: darkgreen;
    color: gold;
    padding: 12px 30px;
    font-size: 15px;
    font-weight: bold;
}
.contact .buttom-2:hover {
    background-color: transparent;
    border: 2px solid darkolivegreen;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .contact {
    margin: 1rem;
}
.contact p{
    display: flex;
    text-align: center;
    justify-content: center;
}
    
}
/* footer start here */

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: coral;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p {
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.social {
    display: flex;
}

.social a {
    width: 50px;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    background: darkolivegreen;
    border-radius: 50%;
    margin: 22px 10px;
    color: #fffbfb;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover{
    transform: scale(1.3);
    cursor: pointer;

}

/* gallery start here */

.container {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.container .heading  {
    width: 50%;
    padding-bottom: 50px;
}

.container .heading h3 {
    font-size: 20px;
    font-weight: bold;
    color: darkolivegreen;
    border-bottom: 3px solid darkolivegreen; 
    padding-bottom: 10px;   
}
.container .heading h3 span {
    font-weight: 100;
}

.container .box-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .box-img .col {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .box-img .col img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 10px;
}
.container .box-img .col video {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 10px;
}

@media only screen and (max-width:760px){
    .container .box-img {
        flex-direction: column;
    }
    .container .box-img .col {
        width: 100%;
    }
    .container .box-img .col video {
        height:300px;
    }
}


@media only screen and (max-width:643px){
    .container .heading  {
        width: 100%;
    }
    
    .container .heading h3 {
       font-size: 30px;
}
}


/* times section */

#times {
    background-image: url("../images/programma.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}
#times div {
    color: white;
    background-color: rgb(0, 0, 0, 0.6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid #fffbfb;
    box-sizing: border-box;
}

#times h2 {
    color: #fffbfb;
    font-size: 18px;
}

#times h3{
    font-size: 15px;
}


@media screen and (max-width: 1200px) {
    #times div {
        width: 100%;
        clear: both;
        height: 200px;
        padding: 0;
    }
}

/* section contact start here */


.bex-five {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}


.mapwrapper {
    margin: 5rem;
    border: 2px solid black;
    border-radius: 30px;
    padding: 1rem;
    width: 50%;
}

.mapwrapper-map {
    display: flex;
    margin: 5rem;
    justify-content: center;
    border: 2px solid black;
    border-radius: 30px;
    padding: 1rem;
    width: 50%;

}
iframe{
     position: relative;
     width: 90%;
     border-radius: 30px;
     display: flex;
     justify-content: center;
     margin: 2rem;
}

@media screen and (max-width: 1200px) {
    .bex-five{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .mapwrapper-map {
        display: flex;
        width: 90%;
    }

    iframe {
       margin: 1rem;
    }
    .mapwrapper{
        padding: 1rem;
        width: 90%;
    }

}

/* newsletter start here */

.newsletter {
    background: cornflowerblue;
    margin: 5rem;
    background-size: cover;
    padding: 100px 40px;
    text-align: center;
    box-shadow: 0 0 20px #00000060;
}

.newsletter p {
    max-width: 600px;
    margin: 40px auto;
    font-size: 15px;
    color: #fffbfb;
}

.email-bt {
    height: 40px;
    display: flex;
    justify-content: center;
}

.email-bt i {
    background: rgba(255, 217, 0, 0.53);
    color: black;
    width: 40px;
    line-height: 40px;
}

.bb,.bc {
    border: none;
    outline: none;
}

.bb {
    width: 0px;
    transition: 0.6s;
}

.email-bt:hover > .bb,.bb:focus{
    width: 260px;
    padding: 0 10px;
}

.bc{
    background: rgba(255, 217, 0, 0.53);
    color: black;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
}

@media  screen and (max-width: 1200px) {
    .newsletter{
        display: absolute ;
        text-align: center;
        justify-content: center;
    }
}